
* annex.backend=MD5E
**/.git* annex.largefiles=nothing
CHANGELOG.md annex.largefiles=nothing
README.md annex.largefiles=nothing
.travis.yml annex.largefiles=nothing
Makefile annex.largefiles=nothing
requirements.txt annex.largefiles=nothing
.Rbuildignore annex.largefiles=nothing
